<div ng-controller="DashboardController">
	<div class="row">

		<!--<div class="col-sm-6 col-md-4">-->
			<!--<div class="thumbnail">-->
				<!--<img data-src="holder.js/300x200" alt="...">-->
				<!--<div class="caption">-->
					<!--<h3>Thumbnail label</h3>-->
					<!--<p>...</p>-->
					<!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="col-sm-6 col-md-4">-->
			<!--<div class="thumbnail">-->
				<!--<img data-src="holder.js/300x200" alt="...">-->
				<!--<div class="caption">-->
					<!--<h3>Thumbnail label</h3>-->
					<!--<p>...</p>-->
					<!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<div class="col-sm-6 col-md-4">
			<div class="panel panel">
				<div class="modal-content" style="height:250px;position:relative;">
						<!--<img src="web/apps/recruitingApp/img/consultants.png" width=70% height=90% style="margin:0px auto;display:block;">-->
					<img src="web/apps/recruitingApp/img/consultants.png" width=70% height=90% style="margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;">
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-default">
				<div style="height:250px;position:relative;">
					<img src="web/apps/recruitingApp/img/customers.png" width=70% height=70% style="margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;">
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-default">
				<div style="height:250px"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-default">
				<div style="height:250px"></div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-default">
				<div style="height:250px"></div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="panel panel-default">
				<div style="height:250px"></div>
			</div>
		</div>
	</div>


</div>