<link rel="stylesheet" href="css/user-registration.css">

<div class="container user-registration" ng-controller="UsersController">
    <div class="template-title">
    	<p>Registrazione Utente</p>
    </div>	
    <div id="template-content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#red" data-toggle="tab">Red</a></li>
            <li><a href="#orange" data-toggle="tab">Orange</a></li>
            <li><a href="#yellow" data-toggle="tab">Yellow</a></li>
            <li><a href="#green" data-toggle="tab">Green</a></li>
            <li><a href="#blue" data-toggle="tab">Blue</a></li>
        </ul>

		<div class="row row-action-btn">
			<div class="col-md-9"></div>
			<div class="col-md-3">
				<div class="btn-group" role="group" aria-label="...">
				  	<button type="button" class="btn btn-primary">Salva</button>
				  	<button type="button" class="btn btn-default">Modifica</button>
				  	<button type="button" class="btn btn-default">Cancella</button>
				</div>
			</div>
		</div>

        <div class="tab-content">
            <div class="tab-pane active" id="red">
	            <form name="user-registration-form" role="form" class="form-horizontal" novalidate>
		            <fieldset style="border: 1px solid #C0C0C0; padding: 20px; margin-bottom: 7px;">
		                <legend class="legend-app"><span class="label label-default">Utenza</span></legend>

						<div class="row">
							<div class="col-md-4">
				                <div class="form-group">
				                    <label class="col-xs-4 control-label" for="firstname">Nome</label>
				                    <div class="col-xs-8">
				                        <input type="text" id="firstname" class="form-control input-sm" ng-model="AdminPerson.rowdata.firstname" />
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-4">    	
				                <div class="form-group">
				                    <label class="col-xs-4 control-label" for="">Cognome</label>
				                    <div class="col-xs-8">
				                        <input type="text" id="lastname" class="form-control input-sm" ng-model="AdminPerson.rowdata.lastname" />
				                    </div>
				                </div>
				        	</div>
				            <div class="col-md-4">    	
				                <div class="form-group">
				                    <label class="col-xs-4 control-label" for="">Cognome</label>
				                    <div class="col-xs-8">
				                        <input type="text" id="lastname" class="form-control input-sm" ng-model="AdminPerson.rowdata.lastname" />
				                    </div>
				                </div>
				        	</div>
						</div>

						<div class="row">
							<div class="col-md-4">
				                <div class="form-group">
				                    <label class="col-xs-4 control-label" for="firstname">Nome</label>
				                    <div class="col-xs-8">
				                        <input type="text" id="firstname" class="form-control input-sm" ng-model="AdminPerson.rowdata.firstname" />
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-4">    	
				                <div class="form-group">
				                    <label class="col-xs-4 control-label" for="">Cognome</label>
				                    <div class="col-xs-8">
				                        <input type="text" id="lastname" class="form-control input-sm" ng-model="AdminPerson.rowdata.lastname" />
				                    </div>
				                </div>
				        	</div>
				            <div class="col-md-4">    	
				                <div class="form-group">
				                    <label class="col-xs-4 control-label" for="">Cognome</label>
				                    <div class="col-xs-8">
				                        <input type="text" id="lastname" class="form-control input-sm" ng-model="AdminPerson.rowdata.lastname" />
				                    </div>
				                </div>
				        	</div>
						</div>

		            </fieldset>
		        </form>    
            </div>

            <div class="tab-pane" id="orange">
                <h1>Orange</h1>
                <p>orange orange orange orange orange</p>
            </div>
            <div class="tab-pane" id="yellow">
                <h1>Yellow</h1>
                <p>yellow yellow yellow yellow yellow</p>
            </div>
            <div class="tab-pane" id="green">
                <h1>Green</h1>
                <p>green green green green green</p>
            </div>
            <div class="tab-pane" id="blue">
                <h1>Blue</h1>
                <p>blue blue blue blue blue</p>
            </div>
        </div>
    </div>
</div>