<!--<div class="panel-group" id="accordion">-->
	<!--<div class="panel panel-default">-->
		<!--<div class="panel-heading">-->
			<!--<h4 class="panel-title">-->
				<!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">-->
                <!--</span>Content</a>-->
			<!--</h4>-->
		<!--</div>-->
		<!--<div id="collapseOne" class="panel-collapse collapse in">-->
			<!--<div class="panel-body">-->
				<!--<table class="table">-->
					<!--<tr>-->
						<!--<td>-->
							<!--<span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>-->
							<!--<span class="badge">42</span>-->
						<!--</td>-->
					<!--</tr>-->
				<!--</table>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="panel panel-default">-->
		<!--<div class="panel-heading">-->
			<!--<h4 class="panel-title">-->
				<!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">-->
                <!--</span>Modules</a>-->
			<!--</h4>-->
		<!--</div>-->
		<!--<div id="collapseTwo" class="panel-collapse collapse">-->
			<!--<div class="panel-body">-->
				<!--<table class="table">-->
					<!--<tr>-->
						<!--<td>-->
							<!--<a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<a href="http://www.jquery2dotnet.com">Invoices</a>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<a href="http://www.jquery2dotnet.com">Shipments</a>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<a href="http://www.jquery2dotnet.com">Tex</a>-->
						<!--</td>-->
					<!--</tr>-->
				<!--</table>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="panel panel-default">-->
		<!--<div class="panel-heading">-->
			<!--<h4 class="panel-title">-->
				<!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">-->
                <!--</span>Account</a>-->
			<!--</h4>-->
		<!--</div>-->
		<!--<div id="collapseThree" class="panel-collapse collapse">-->
			<!--<div class="panel-body">-->
				<!--<table class="table">-->
					<!--<tr>-->
						<!--<td>-->
							<!--<a href="http://www.jquery2dotnet.com">Change Password</a>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<a href="#/login">Notifications</a> <span class="label label-info">5</span>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<a href="#/login">Import/Export</a>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">-->
							<!--Delete Account</a>-->
						<!--</td>-->
					<!--</tr>-->
				<!--</table>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="panel panel-default">-->
		<!--<div class="panel-heading">-->
			<!--<h4 class="panel-title">-->
				<!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">-->
                <!--</span>Reports</a>-->
			<!--</h4>-->
		<!--</div>-->
		<!--<div id="collapseFour" class="panel-collapse collapse">-->
			<!--<div class="panel-body">-->
				<!--<table class="table">-->
					<!--<tr>-->
						<!--<td>-->
							<!--<span class="glyphicon glyphicon-usd"></span><a href="#/users">Sales</a>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<span class="glyphicon glyphicon-user"></span><a href="#/users">Customers</a>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<span class="glyphicon glyphicon-tasks"></span><a href="user/consultants">Prova security</a>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td>-->
							<!--<span class="glyphicon glyphicon-shopping-cart"></span><a href="#/dashboard">Dashboard</a>-->
						<!--</td>-->
					<!--</tr>-->
				<!--</table>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->



<!--<div data-accordion="" data-close-others="true">-->
	<!--<div data-accordion-group="" data-heading="Users">-->
		<!--<h4 class="panel-title">-->
			<!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">-->
				<!--<span class="glyphicon glyphicon-folder-close"></span>Content-->
			<!--</a>-->
		<!--</h4>-->
		<!--Contents in first group-->
	<!--</div>-->
	<!--<div data-accordion-group="" data-heading="Heading 2">-->
		<!--Contents in second group-->
	<!--</div>-->
<!--</div>-->

<div class="sidebar-nav">

<accordion>
	<!--CONSULTANTS-->
	<accordion-group>
		<accordion-heading>
			<i class="fa fa-users fa-fw"></i> Consultants
		</accordion-heading>
		<div class="panel-body">
			<table class="table">
				<tr>
					<td>
						<span class="fa fa-user fa-fw"></span><a href="#/dashboard"> Master data set </a>
					</td>
				</tr>
				<tr>
					<td>
						<span class="fa fa-file-o fa-fw"></span><a href="#/users"> Contracts</a>
					</td>
				</tr>
				<tr>
					<td>
						<span class="fa fa-briefcase fa-fw"></span><a href="user/consultants">  Job counseling</a>
					</td>
				</tr>
			</table>
		</div>
	</accordion-group>

	<!--CUSTOMERS-->
	<accordion-group>
		<accordion-heading>
			<i class="fa fa-file fa-fw"></i> Customers
		</accordion-heading>
		<div class="panel-body">
			<table class="table">
				<tr>
					<td>
						<span class="fa fa-user fa-fw"></span><a href="#/dashboard"> Master data set </a>
					</td>
				</tr>
				<tr>
					<td>
						<span class="fa fa-file-o fa-fw"></span><a href="#/users"> Contracts</a>
					</td>
				</tr>
				<tr>
					<td>
						<span class="fa fa-briefcase fa-fw"></span><a href="user/consultants">  Job counseling</a>
					</td>
				</tr>
			</table>
		</div>
	</accordion-group>

	<!--REPORTS-->
	<accordion-group>
		<accordion-heading>
			<i class="fa fa-file fa-fw"></i> Reports
		</accordion-heading>
		<div class="panel-body">
			<table class="table">
				<tr>
					<td>
						<span class="fa fa-user fa-fw"></span><a href="#/dashboard"> Master data set </a>
					</td>
				</tr>
				<tr>
					<td>
						<span class="fa fa-file-o fa-fw"></span><a href="#/users"> Contracts</a>
					</td>
				</tr>
				<tr>
					<td>
						<span class="fa fa-briefcase fa-fw"></span><a href="user/consultants">  Job counseling</a>
					</td>
				</tr>
			</table>
		</div>
	</accordion-group>


</accordion>
</div>

<!--original version-->
<!--<div data-accordion="" data-close-others="true">-->
	<!--<div data-accordion-group="" data-heading="Heading 1">-->
		<!--Contents in first group-->
	<!--</div>-->
	<!--<div data-accordion-group="" data-heading="Heading 2">-->
		<!--Contents in second group-->
	<!--</div>-->
<!--</div>-->
