<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">

		<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#"><span class="fa fa-home fa-1x"></span></a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">

		<ul class="nav navbar-nav">
			<!--<li class="active"><a href="#">Link</a></li>-->
			<!--<li><a href="#">Link</a></li>-->

			<!--<li class="dropdown">-->
				<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
				<!--<ul class="dropdown-menu">-->
					<!--<li><a href="#/login">Login</a></li>-->
					<!--<li><a href="#">Another action</a></li>-->
					<!--<li><a href="#">Something else here</a></li>-->
					<!--<li><a href="#">Separated link</a></li>-->
					<!--<li><a href="#">One more separated link</a></li>-->
				<!--</ul>-->
			<!--</li>-->

		</ul>
		<!--<form class="navbar-form navbar-left" role="search">-->
			<!--<div class="form-group">-->
				<!--<input type="text" class="form-control" placeholder="Search">-->
			<!--</div>-->
			<!--<button type="submit" class="btn btn-default">Submit</button>-->
		<!--</form>-->
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="fa fa-search fa-fw"></span></a></li>
			<li>
				<a href="#">
					<span class="fa fa-bell fa-fw"></span>
					<span class="badge">42</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-user fa-fw"></span>
				</a>
			</li>
			<!--<li class="dropdown">-->
				<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
				<!--<ul class="dropdown-menu">-->
					<!--<li><a href="#">Action</a></li>-->
					<!--<li><a href="#">Another action</a></li>-->
					<!--<li><a href="#">Something else here</a></li>-->
					<!--<li><a href="#">Separated link</a></li>-->
				<!--</ul>-->
			<!--</li>-->
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>
