div.container.user-registration {
  	width:100%;
}
div.container.user-registration div.tab-content {
	padding-top:25px;
}
div.container.user-registration legend.legend-app {
  	width:0px;
}
div.template-title > p {	
	padding-bottom:16px;
	font-size:22px;
}
div.container.user-registration div.row.row-action-btn {
  	padding-top:1%;
}


