<div class="container login-app" ng-controller="LoginController">
		<div class="header"></div>
    <div class="jumbotron">
        <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Recruiting Login</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well">
                                <!--<form id="loginForm" ng-submit="loginForm(user)" method="POST" action="/login/" novalidate="novalidate">-->
                                <form id="loginForm" ng-submit="loginForm(user)" novalidate="novalidate">
                                    <div class="form-group">
                                        <label for="username" class="control-label">Username</label>
                                        <input type="text" class="form-control" id="username" name="username"
                                               ng-model="user.username" value="" required=""
                                               title="Please enter you username" placeholder="username">
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="control-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               ng-model="user.password" value="" required=""
                                               title="Please enter your password" placeholder="password">
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="login-error" class="alert alert-error" ng-show="showLoginErrMsg"> Wrong username or
                                        password
                                    </div>
                                    <!--<div class="checkbox">-->
                                        <!--<label>-->
                                            <!--<input type="checkbox" name="remember" id="remember"> Remember login-->
                                        <!--</label>-->

                                        <!--<p class="help-block">(if this is a private computer)</p>-->
                                    <!--</div>-->
                                    <div class="row">
                                        <div class="col-xs-9">
                                        </div>
                                        <div class="col-xs-3">
                                            <button name="login" type="submit" class="btn btn-primary btn-block">
                                                Login
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>